<!-- todo-list.component.html -->
<div class="group-card" *ngFor="let task of tasks">
  <mat-card class="card" [style.backgroundColor]="task.color">
    <mat-card-header>
      <mat-card-title>{{ task.name }}</mat-card-title>
      <mat-card-actions>
        <mat-icon class="edit" (click)="openEditTask(task)">edit</mat-icon>
        <mat-icon class="delete">delete</mat-icon>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <p>{{ task.description }}</p>
      <p>{{ task.id }}</p>
    </mat-card-content>
  </mat-card>
</div>
