.card {
  position: relative;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

mat-icon {
  cursor: pointer;
  background-color: none;
  margin: 1rem;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.5rem;
  margin-left: 1rem;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

mat-card-content {
  margin-inline: 1rem;
  margin-top: 0.75rem;
  width: 18rem;
  height: 10rem;
  overflow-y: auto;
  text-align: justify;
  word-wrap: break-word;
  color: #000;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.edit {
  color: #ffd97d;
}

.delete {
  color: #ee6055;
}

.edit:hover,
.delete:hover {
  opacity: 0.7;
}
