.sidebar {
  background-color: #ebebeb;
  width: 13rem;
}

.sidebar a span {
  margin-left: 1rem;
  vertical-align: middle;
}

.logout {
  position: fixed;
  width: 13rem;
  bottom: 1rem;
}

.logout mat-icon {
  color: #ff4d6d;
}

mat-sidenav-content {
  background-color: #ffffff;
}

.nav-list {
  position: relative;
  text-align: center;
}

@media (max-width: 600px) {
  .sidebar {
    width: 5rem;
  }
  span {
    display: none;
  }
  .logout {
    width: 5rem;
  }
}